/* Estilos globales */
body {
  background-color: black;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.corben{
  font-family: "Corben", serif;
}

section {
  scroll-margin-top: 90px;
}
